# T-test & P-value

### 1. One tailed t-test - In a packing plant, a machine packs cartons with jars. It is supposed that a new machine will pack faster on the average than the machine currently used. To test that hypothesis, the times it takes each machine to pack ten cartons are recorded. The results, in seconds, are shown in the tables in the file files_for_lab/machine.txt. Assume that there is sufficient evidence to conduct the t test, does the data provide sufficient evidence to show if one machine is better than the other?

In [1]:
import pandas as pd
import numpy as np
import scipy.stats as st
import matplotlib.pyplot as plt
import seaborn as sns
pd.set_option("display.max_rows", 200, "display.max_columns", None)

In [2]:
# 'C:\\Users\\Romeo\\IH-Labs\\lab-t-tests-p-values\\files_for_lab\\machine.txt'
machine = pd.read_table('./files_for_lab/machine.txt', delimiter='\t')
print(machine.shape)
machine.head()

(10, 2)

   New machine      Old machine
0         42.1             42.7
1         41.0             43.6
2         41.3             43.8
3         41.8             43.3
4         42.4             42.5

In [3]:
machine.columns

Index(['New machine', '    Old machine'], dtype='object')

In [4]:
machine = machine.rename(columns = {machine.columns[1] : machine.columns[1].strip()})
machine.columns

Index(['New machine', 'Old machine'], dtype='object')

In [5]:
machine['Old machine'].mean()

43.230000000000004

In [6]:
# Our Hypthesis:
#                 H0: New machine speed mean > Old machine speed mean (43.23)
#                 H1: New machine speed mean =< Old machine speed mean (43.23)
# Confidence level: 0.05

In [7]:
new_machine = machine['New machine']
print('p value (single tailed): ',st.ttest_1samp(new_machine,43.23)[1]/2)

p value (single tailed):  0.0003483188038379669

In [8]:
# As p is low, we can confidently reject H0, so the 2 machines are different in productivity. Meaning the New machine is quicker/better than the old machine

### 2. Matched Pairs Test - In this challenge we will compare dependent samples of data describing our Pokemon (file files_for_lab/pokemon.csv). Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. Compare the two columns to see if there is a statistically significant difference between them and comment your result.

In [9]:
pokemon = pd.read_csv('./files_for_lab/pokemon.csv')
print(pokemon.shape)
pokemon.head()

(800, 13)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [10]:
pokemon.columns

Index(['#', 'Name', 'Type 1', 'Type 2', 'Total', 'HP', 'Attack', 'Defense',
       'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [11]:
# Our Hypothesis:
#                 H0: Attack = Defense
#                 H1 Attack != Defense

In [12]:
st.ttest_rel(pokemon['Attack'], pokemon['Defense'])

Ttest_relResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

In [13]:
# As p is very low, we care confident enough to reject H0 (Attack and Defense have equal scores)

# ANOVA

### Part 1 
### In this activity, we will look at another example. Your task is to understand the problem and write down all the steps to set up ANOVA. After the next lesson, we will ask you to solve this problem using Python. Here are the steps that you would need to work on: - Null hypothesis - Alternate hypothesis - Level of significance - Test statistic - P-value - F table

In [14]:
anova = pd.read_excel('./files_for_lab/anova_lab_data.xlsx', engine="openpyxl")
print(anova.shape)
anova

(15, 2)

   Power   Etching Rate
0   160 W          5.43
1   180 W          6.24
2   200 W          8.79
3   160 W          5.71
4   180 W          6.71
5   200 W          9.20
6   160 W          6.22
7   180 W          5.98
8   200 W          7.90
9   160 W          6.01
10  180 W          5.66
11  200 W          8.15
12  160 W          5.59
13  180 W          6.60
14  200 W          7.55

### State the null hypothesis

In [15]:
# H0: There is no difference between the different Power means

### State the alternate hypothesis

In [16]:
# H1: There is at least 1 difference between the different Powers means

### What is the significance level

In [17]:
# I will set the significance level to 0.05 to proivde a 95% confidence of the outcome

### What are the degrees of freedom of model, error terms, and total DoF

In [18]:
# Degrees of freedom is the number of groups minus 1, in this case 3-1 = 2
# Error Terms is a 5% chance that there will be an error
# The Total Degrees of freedom is 3

### Part 2
### In this section, use the Python to conduct ANOVA. What conclusions can you draw from the experiment and why?

In [19]:
anova.columns

Index(['Power ', 'Etching Rate'], dtype='object')

In [20]:
anova = anova.rename(columns = {anova.columns[0] : anova.columns[0].strip()})
anova.columns

Index(['Power', 'Etching Rate'], dtype='object')

In [21]:
anova['power_count'] = anova.groupby('Power').cumcount()
anova

    Power  Etching Rate  power_count
0   160 W          5.43            0
1   180 W          6.24            0
2   200 W          8.79            0
3   160 W          5.71            1
4   180 W          6.71            1
5   200 W          9.20            1
6   160 W          6.22            2
7   180 W          5.98            2
8   200 W          7.90            2
9   160 W          6.01            3
10  180 W          5.66            3
11  200 W          8.15            3
12  160 W          5.59            4
13  180 W          6.60            4
14  200 W          7.55            4

In [22]:
anova_pivot = anova.pivot(index='power_count', columns='Power', values='Etching Rate')
anova_pivot

Power        160 W  180 W  200 W
power_count
0             5.43   6.24   8.79
1             5.71   6.71   9.20
2             6.22   5.98   7.90
3             6.01   5.66   8.15
4             5.59   6.60   7.55

In [23]:
anova_pivot.columns = ['Power_'+str(x) for x in anova_pivot.columns.values]
anova_pivot.head()

             Power_160 W  Power_180 W  Power_200 W
power_count
0                   5.43         6.24         8.79
1                   5.71         6.71         9.20
2                   6.22         5.98         7.90
3                   6.01         5.66         8.15
4                   5.59         6.60         7.55

In [24]:
st.f_oneway(anova_pivot['Power_160 W'],anova_pivot['Power_180 W'],anova_pivot['Power_200 W'])

F_onewayResult(statistic=36.87895470100505, pvalue=7.506584272358903e-06)

In [25]:
# As we see p is very low, we are 95% confident that we can reject H0, meaning There is at least 1 difference between 
# the different Power means